<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.I220863"
        tools:targetApi="31">
        <activity
            android:name=".StoryCam"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".FollowingPage"
            android:exported="false" />
        <activity
            android:name=".FollowersPage"
            android:exported="false" />
        <activity
            android:name=".Videocall"
            android:exported="false" />
        <activity
            android:name=".VoiceCall"
            android:exported="false" />
        <activity
            android:name=".BlackDM"
            android:exported="false" />
        <activity
            android:name=".WhiteDM"
            android:exported="false" />
        <activity
            android:name=".DMs"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signupPage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>